sentence-transformers==2.2.2
Flask
pandas
numpy
matplotlib
openpyxl
scikit-learn
warnings
sys
faiss-cpu
pypdf
torch
langchain
langchain_huggingface
langchain_community
PyPDF2
google-generativeai
