<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hammett Plot</title>
    <link rel="stylesheet" href="{{ url_for('send_css', filename='styles.css') }}">
    <script>
      function toggleInputMethod() {
        const fileInputDiv = document.getElementById("file_input_div");
        const manualInputDiv = document.getElementById("manual_input_div");
        const inputMethod = document.getElementById("input_method").value;

        if (inputMethod === "manual") {
          fileInputDiv.style.display = "none";
          manualInputDiv.style.display = "block";
        } else {
          fileInputDiv.style.display = "block";
          manualInputDiv.style.display = "none";
        }
      }

      window.onload = function() {
        document.getElementById("add-row").onclick = addRow;
      };

      function addRow() {
        const table = document.getElementById("data-table");
        const rowCount = table.rows.length;
        const row = table.insertRow(rowCount);
        const cell1 = row.insertCell(0);
        const cell2 = row.insertCell(1);
        const element1 = document.createElement("input");
        element1.type = "text";
        element1.name = `substituent${rowCount}`;
        element1.classList.add("input-field");
        cell1.appendChild(element1);

        const element2 = document.createElement("input");
        element2.type = "text";
        element2.name = `value${rowCount}`;
        element2.classList.add("input-field");
        cell2.appendChild(element2);
      }
    </script>
  </head>
  <body>
    <div class="main-container">
      <!-- 第一個白色區塊 - Hammett Plot Generation -->
      <div class="container">
        <form action="/plot" method="post" enctype="multipart/form-data" class="form-container">
          <h1>Hammett Plot Generation</h1>

          <div class="form-section">
            <label for="y_axis_label">Enter y-axis title</label>
            <input type="text" id="y_axis_label" name="y_axis_label" class="input-field" required>
          </div>

          <div class="form-section">
            <label for="log_transform">Need to take the logarithm?</label>
            <select id="log_transform" name="log_transform" class="input-field">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>

          <div class="form-section">
            <label for="sigma_type">Choose x-axis sigma type</label>
            <select id="sigma_type" name="sigma_type" class="input-field">
              <option value="p">σp</option>
              <option value="m">σm</option>
            </select>
          </div>

          <div class="form-section">
            <label for="input_method">Choose data input method</label>
            <select id="input_method" name="input_method" class="input-field" onchange="toggleInputMethod()">
              <option value="manual">Manual Input</option>
              <option value="file">Upload File</option>
            </select>
          </div>

          <div id="manual_input_div" class="form-section">
            <label for="data">Enter data manually</label>
            <div class="table-container">
              <table id="data-table">
                <tr>
                  <th>Substituent</th>
                  <th>Value</th>
                </tr>
              </table>
            </div>
            <button type="button" id="add-row" class="add-row-button">Add new row</button>
          </div>

          <div id="file_input_div" class="form-section" style="display:none;">
            <label for="data_file">Upload XLSX File</label>
            <input type="file" name="data_file" id="data_file" class="input-field">
          </div>

          <div class="button-container">
            <button type="submit">Generate Plot</button>
          </div>
        </form>
      </div>

      <!-- 第二個白色區塊 - Write Data to Table_1.xlsx -->
      <div class="container">
        <form action="/write_data" method="post" class="form-container">
          <h2>Write Data to Table_1.xlsx</h2>

          <div class="form-section">
            <label for="substituent">Substituent</label>
            <input type="text" id="substituent" name="substituent" class="input-field" required>
          </div>

          <div class="form-section">
            <label for="sigma_m">σm</label>
            <input type="text" id="sigma_m" name="sigma_m" class="input-field" required>
          </div>

          <div class="form-section">
            <label for="sigma_p">σp</label>
            <input type="text" id="sigma_p" name="sigma_p" class="input-field" required>
          </div>

          <div class="button-container">
            <button type="submit">Add Data to Table_1.xlsx</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
