<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>文件上傳</title>
    <link rel="stylesheet" href="{{ url_for('send_css', filename='styles.css') }}">
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <h1>Upload PDF and Question File</h1>
          <div>
            <label for="pdf_files">Select PDF Document</label>
            <input type="file" id="pdf_files" name="pdf_files" multiple>
          </div>
          <div>
            <label for="question_file">Select Question Excel File</label>
            <input type="file" id="question_file" name="question_file">
          </div>
          <button type="submit">Upload</button>
        </form>
        <div class="decoration decoration1"></div>
        <div class="decoration decoration2"></div>
      </div>
      <div class="container">
        <h1>Hammett Plot Generation</h1>
        <div class="button-container">
          <button onclick="window.location.href='/hammett'">Generate the plot</button>
        </div>
        <div class="decoration decoration1"></div>
        <div class="decoration decoration2"></div>
      </div>
    </div>
  </body>
</html>
